.container {
  /* For signin & registration page, define container height */ 
  /* Why? So that we can use display:flex to center input forms */
  height: calc( (100vh - var(--nav-height) - var(--footer-height) - var(--margin-top) * 1) );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.form-login, .form-login form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
  
.form-login h1 {
  padding: 0.1rem 0 ;
  margin-bottom: 2rem;
  font-size: 2rem;
}


/* Email & Password input box */
input[type=text], input[type=password], input[type=email] {
  display: inline-block;
  width: 80%;
  box-sizing: border-box; /* Tells the browser to account for any border and padding in the values you specify */
  padding: 0.1rem 0;
  margin: 1rem 0;
  outline: none; /* Removes default border from input box when clicked */
  border: none; /* Removes default border from input box when clicked*/
  border-bottom: 2px solid #FC662C;
  font-size: 1rem;
  font-weight: 400;
}
input[type=text]:valid, input[type=password]:valid {
  border-bottom: 2px solid #f50856;
}


/* Sign-in & Register Button */
input[type=submit], .form-login .btn-register {
  width: 200px;
  height: 40px;
  line-height: 40px; /* Make this same as height to center text vertically */
  background-color: #FC662C;
  color: #fff;
  margin: 1rem auto 4rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: 700;
}
input[type=submit]:hover, .form-login .btn-register:hover {
  opacity: 0.5;
}


/* Not a member? */
.form-login h2 {
  padding: 2rem 0 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.form-login .btn-register {
  margin: 0.5rem auto 1rem;
}


/* For smaller screens */
@media(max-width: 700px) {
  .form-login, .form-login form {
    width: 100%;
  }

  .form-login h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  /* Sign In Button */
  input[type=submit], .form-login .btn-register {
    width: 150px;
    height: 30px; 
    line-height: 30px; /* Make this same as height to center text vertically */
    padding: 0;
    margin: 0.5rem auto 1.5rem;
    font-size: 0.8rem;
  }
}
